body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.todo-container, .todo-table {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 20px;
    padding: 20px; 
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 1px solid #ccc;
   
    
}

h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.todo-container input,
.todo-container textarea,
.todo-container button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.todo-container button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.todo-container button:hover {
    background-color: #218838;
}
.input-group {
    margin-bottom: 15px;
    position: relative;
}

.input-group label {
    display: block;
    font-weight: bold;
    color: #333;
}

.input-group input  {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
    box-sizing: border-box;
}

.input-group input:focus {
    outline: none;
    border-color: #007bff;
}
.toggle-password {
    cursor: pointer;
    font-size: 12px;
    color: #007bff;
    position: absolute;
    right: 10px;
    top: 57%;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

p {
    text-align: center;
    margin-top: 15px;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.todo-table table {
    width: 100%;
    border-collapse: collapse;
}

.todo-table th,
.todo-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.todo-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.edit-button,
.delete-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button {
    background-color: #dc3545;
}

@media (max-width: 768px) {
    .todo-container, .todo-table, .container {
        max-width: 90%;
        padding: 20px;
        margin-top: 30px;
    }
}